$app-background-color:#ffffff;

$primary-color:#ffffff;

$secondary-color:#0c85c6;

$box-primary-color:#0c85c6;

$box-secondary-color:#0c85c6;

$background-color:#ffffff;

$white-color:#0000008c;

$navbar-secondary-color:#ffffff;

$navbar-primary-color:#ffffff;

$box-hover-secondary-color:#0c85c6;

$box-hover-primary-color:#0c85c6;

$h2-color:#0c85c6;

$about-box-bg-secondary-color:#0c85c6;

$about-box-bg-primary-color:#0c85c6;



//$learn-more-box:

$title:55px;

$images_path:"https://skinning-template.s3.us-west-1.amazonaws.com/project-4/";

$font-family:"Helvetica";

$ttf_file_url:"https://skinning-template.s3.us-west-1.amazonaws.com/project-4/assets/fonts/helvetica-light.ttf";